
id_ed25519
config
id_ed25519.pub
.vs/ProjectEvaluation/chessstatistics.projects.v5.1
.vs/ProjectEvaluation/chessstatistics.metadata.v5.1
.vs/ChessStatistics/v17/.suo
.vs/ChessStatistics/v17/.futdcache.v2
.vs/ChessStatistics/v15/.suo
.vs/ChessStatistics/FileContentIndex/5453a131-d107-433a-9a54-57b73afa9046.vsidx
.vs/ChessStatistics/FileContentIndex/0cd924d2-05e9-4452-b211-871e84f15955.vsidx
