@{
    ViewData["Title"] = "Поддержка разработчиков";
    ViewData["CurrentPage"] = "Donation";
}


<link rel="stylesheet" href="~/css/Donation.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поддержка разработчиков</title>
   

</head>
<body>
    <div class="emptySpace"></div>
    <div class="container">
        <div class="header">
            <h1>Поддержите разработчиков!</h1>
        </div>

        <div class="main-content">
            <div class="main-content-left">
                <p>Мы считаем, что все должны иметь бесплатный и свободный доступ к нашей шахматной платформе.</p>
                <p>Мы полагаемся на поддержку таких людей как вы. Если вам нравится ChessStatistics, пожалуйста, поддержите нас, сделайте пожертвование и станьте его спонсором!</p>
            </div>
            <div class="donation-form">
                <h2>Сделайте пожертвование</h2>
                <form>
                    <label for="sponsor">Ваше имя или псевдоним</label>
                    <input type="text" id="sponsor" placeholder="Ваше имя или псевдоним" required>
                    <div class="payment-options">
                        <button type="button">Поддержать проект</button>
                        <button type="button">PayPal</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="divider"></div>

        <div class="faq">
            <h3>Часто задаваемые вопросы</h3>
            <p><i class="fas fa-info-circle"></i> Нажмите на вопрос, чтобы увидеть ответ.</p>
            <div class="faq-item">
                <h4><i class="fas fa-question-circle"></i> Куда пойдут деньги от пожертвований?</h4>
                <p>Мы оплачиваем пожертвования разработчикам, которые работают над ChessStatistics.</p>
            </div>
            @* <div class="faq-item">
                <h4><i class="fas fa-question-circle"></i> Правда, что ChessStatistics официально некоммерческий?</h4>
                <p>Да, вот документ (на французском языке).</p>
            </div> *@
            <div class="faq-item">
                <h4><i class="fas fa-question-circle"></i>Будет ли у меня ежемесячное списание с карты на пожертование?</h4>
                <p>Нет, вы сами выбираете, поддерживать проект или нет, у нас отключены ежемесячные списания.</p>
            </div>
            <div class="faq-item">
                <h4><i class="fas fa-question-circle"></i> Есть ли другие способы сделать пожертвование?</h4>
                <p>Мы принимаем пожертвования также на криптовалютные кошельки.</p>
            </div>
        </div>
    </div>
    <div class="emptySpace"></div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const faqItems = document.querySelectorAll('.faq-item');
            faqItems.forEach(item => {
                item.addEventListener('click', function() {
                    const answer = item.querySelector('p');
                    if (answer.style.display === 'none' || answer.style.display === '') {
                        answer.style.display = 'block';
                    } else {
                        answer.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>
</html>
