@{
    @model List<ChessStatistics.Models.Player>
    ViewData["Title"] = "Игроки";
    ViewData["CurrentPage"] = "Players";
}

<h5 class="text-light">Игроки</h5>

<table id="usersTable" class="table table-responsive-sm table-bordered table-hover table-dark regular-table">
    <thead>
        <tr>
            <th scope="col">Фамилия и имя</th>
            <th scope="col">Разряд или звание</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Перейти</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <th scope="row">
                    @player.FIO
            </th>
                <td>@player.Title</td>
                <td>@player.Rating</td>

            <td>
                <form asp-controller="Home" asp-action="Player" asp-route-idPlayer="@player.Id">
                    <button class="btn btn-primary">
                        Перейти
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="~/js/players.js"></script>